# Created by .ignore support plugin (hsz.mobi)
### Mercurial template
.hg/
.hgignore
.hgsigs
.hgsub
.hgsubstate
.hgtags

/project.ipr
/project.ids
/project.iml
/star.iml
/project.iws
.log
src/main/resources/packaged/
target/
*.log
